@import url(//fonts.googleapis.com/css?family=Lato:700);

body {
	margin:0;
	font-family:'Lato', sans-serif;
	text-align:center;
	color: #999;
}

a, a:visited {
	text-decoration:none;
}

h1 {
	font-size: 32px;
	margin: 16px 0 0 0;
}
.commentBox {
	max-width: 400px;
	padding: 5px;
}
.welcome {
	font-weight:bold;
	width:100%;
}
.gravatarImage {
	height :50px;
	width: 50px;
	float: left;
	margin-right: 10px;
}
.commenterItem {
	min-height:50px;
	width:100%;
	margin-bottom:5px;
	float:left;
}
.commenterForm {
	float:left;
	background-color: #cfcfcf;
	border-radius:5px;
	padding:5px;
	color:#000;
	text-shadow: 1px 1px #fff;
	width:450px;
}
.commenterForm > textarea {
	height:5em;
	width:98%;
	border-radius: 5px;
}
.commenterComment {
	max-width:450px;
	text-align: left;
}
.commenterButton {
	margin-top:.5em;
	height: 3em;
	width: 10em;
	border-radius: 5px;
	text-shadow: 1px 1px #000;
	box-shadow: 1px 1px #000;
	color: #fff;
	font-size:1.2em;
}
.commentList {
	max-height: 10em;
	overflow-y: auto;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px;
	width: 450px;
}
input[name='email'] {
	margin-bottom:.5em;
}